</div>


<div class="fullbackground2">
  <div class="andrew2">
    <form class="col s12 form_u " action="/vets/register" method="post">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <div class="input-field col s1">
          <input  id="office_name" type="text" class="validate" name="vet[office_name]">
          <label for="name">Office Name</label>
        </div>
        <div class="input-field col s3">
          <input  id="last_name" type="text" class="validate" name="vet[first_name]">
          <label for="name">Dr's First Name</label>
        </div>
        <div class="input-field col s3">
          <input  id="last_name" type="text" class="validate" name="vet[last_name]">
          <label for="name">Dr's Last Name</label>
        </div>
        <div class="input-field col s3">
          <input id="email" type="email" class="validate" name="vet[email]">
          <label for="email">Email</label>
        </div>
        <div class="input-field col s3">
          <input id="phone_number" type="text" class="validate" name="vet[phone_number]" placeholder="000-000-0000">
          <label for="phone_number">Phone Number</label>
        <div class="input-field col s3">
          <label for="password">Password</label>
          <input id="password" type="password" class="validate" name="vet[password]">
        </div>
        <div class="input-field col s3">
            <label for="passConfirm">Password Confirmation</label>
            <input id="passConfirm" type="password" name="password_confirmation">
          <h5 class="h5l2">Address</h5>
        </div>
        <div class="input-field col s3">
          <input id="street" type="text" class="validate" name="address[street]">
          <label for="street">Street</label>
        </div>
        <div class="input-field col s3">
          <input id="city" type="text" class="validate" name="address[city]">
          <label for="city">City</label>
        </div>
        <div class="input-field col s3">
          <input id="state" type="text" class="validate" name="address[state]">
          <label for="state">State</label>
        </div>
        <div class="input-field col s3">
          <input id="zip" type="number" class="validate" name="address[zip]">
          <label for="zip">Zip Code</label>
        </div>
      <div class="modal-footer">
      <input class="btn waves-light submit1" type="submit" value="Submit" >
      </div>
    </form>
  </div>

  <div class="center1 grey lighten-4">
    <span class="span1"><% if flash[:errors] %>
      <% flash[:error].each do |error| %>
        <p class="error"> * <%=error%></p>
      <% end %>
    <% end %>
    </span>
  <div>
    
</div>

