<div class="row">
	<div class="col s3 profile">
		<%= image_tag "user-profile" %>
	</div>
	<div class="col s9">
		<h3>Welcome First Last</h3>
		<p>Address 1</p>
		<p>Address 2</p>
		<p>My Doctor is</p>
		<a class="waves-effect waves-light btn" href="/new/pet">Add New Pet</a>
	</div>
</div>
<div class='clear'></div>
<div class="row">
	<div class="col s3">
	  <div class="card">
	    <div class="card-image waves-effect waves-block waves-light">
	      <%= image_tag "randall" %>
	    </div>
	    <div class="card-content">
	      <span class="card-title activator grey-text text-darken-4">Randall Snout<i class="material-icons right">...</i></span>
	      <p><a href="/pets/profile/">Pet Profile</a></p>
	    </div>
	    <div class="card-reveal">
	      <span class="card-title grey-text text-darken-4">Randall Snout<i class="material-icons right">X</i></span>
	      <p>Randalls Profile</p>
	      <ul>
	      	<li>Species: Dog</li>
	      	<li>Sex: Male</li>
	      	<li>Color: White/Tan</li>
	      	<li>Age: 6.5 years</li>
	      </ul>
	    </div>
	  </div>
  </div>
</div>