<div class="row">
	<div class="col s4 profile">
		<%= image_tag "user-profile" %>
	</div>
	<div class="col s8">
		<h3>Welcome First Last</h3>
		<p>Address 1</p>
		<p>Address 2</p>
		<p>My Doctor is</p>
		<p>
	</div>
</div>