<div class="row">
<div class="col s8">
<h3>Pet Med Cares</h3>
<p>Our goal was to make it easier for you to go to the veterinarian office. With Pet med your pets medical information is at the end of a click. Always have your pets information on you if you ever have to visit any vet office or animal hospital. </p>
<h3>Pet Med Services</h3>
<p>With Pet Med you can create an online profile for each of your pets that will store all your pets medical records online. By doing this it will allow your Veterinarian to have quick access to any record they need to care for your pet. The vet will also be able to update your pets records with:
<ul>
<li>Immunization records</li>
<li>Prescription medicine records</li>
<li>Care Plans</li>
<li>Activity Charts</li>
<li>Allergy Listings</li>
</ul>
</p>
</div>
</div>
<h3>How It Works</h3>
<p>Pet Med services holds all your pets information needed to visit veterinarian offices, animal hospitals, and grooming services. Our service will allow you to search local veterinarian offices and allow you to review ratings and read other users reviews of those offices. At Pet med we strive to make it easier to care for your pet so you can enjoy the happy moments worry free.</p>puppy-photo