</div>
  <div class="slider">
    <ul class="slides">
      <li>
        <img src="http://lorempixel.com/580/250/nature/1"> <!-- random image -->
        <div class="caption center-align">
          <div class="slider_box">
			<h1>Let Pet Med Help</h1>
			<h3>We can hold all your pets info.</h3>
			<a class="waves-effect waves-light btn-large" href="#">Sign Up Today</a>
          </div>
        </div>
      </li>
      <li>
        <img src="http://lorempixel.com/580/250/nature/2"> <!-- random image -->
        <div class="caption left-align">
          <div class="slider_box">
			<h2>Reach More Customers</h2>
			<h4>Accounts for Veterinarians</h4>
			<h6>Get all your clients records quickly anytime.</h6>
			<a class="waves-effect waves-light btn-large" href="#">Register Today</a>
          </div>
        </div>
      </li>
      <li>
        <img src="http://lorempixel.com/580/250/nature/3"> <!-- random image -->
        <div class="caption right-align">
          <div class="slider_box">
			<h1>Let Pet Med Help</h1>
			<h3>We can hold all your pets info.</h3>
			<a class="waves-effect waves-light btn-large" href="#">Sign Up Today</a>
          </div>
        </div>
      </li>
      <li>
        <img src="http://lorempixel.com/580/250/nature/4"> <!-- random image -->
        <div class="caption center-align">
          <div class="slider_box">
			<h1>Let Pet Med Help</h1>
			<h3>We can hold all your pets info.</h3>
			<a class="waves-effect waves-light btn-large" href="#">Sign Up Today</a>
          </div>
        </div>
      </li>
    </ul>
  </div>
 <div class="container">
 <div class="row">
 	<div class="col s3 shadow">
 		<%= image_tag "cat-photo1" %>
 	</div>
 	<div class="col s9">
		<h2>Breaking free from paperwork!</h2>
		<p>With Pet Med online medical profile database you can have all your pets records in the palm of your hand. Access all your records no matter where you are at and never be stuck with the run around or hauling stacks of papers to your vets office again. With Pet Med your vet will have access to your pets records so you can get back to enjoying your pet.</p>
 	</div>
 	</div>
 	<div class="row">
		<div class="col s3 blue lighten-5 round">
			<h5>Find a Vet near you!</h5>
		</div>
		<div class="col s4 offset-s1 blue lighten-5 round">
			<h5>Pet Med cares about animals</h5>
		</div>
		<div class="col s3 offset-s1 blue lighten-5 round">
			<h5>Like us on facebook</h5>
		</div>
 	</div>