</div>
  <div class="slider">
    <ul class="slides">
      <li>
        <%= image_tag "Wallpaper_New2" %> <!-- random image -->
        <div class="caption center-align">
          <div class="slider_box-right">
			<h1>Let Pet Med Help</h1>
			<h3>We can hold all your pets info.</h3>
			<a class="waves-effect waves-light btn-large" href="#">Sign Up Today</a>
          </div>
        </div>
      </li>
      <li>
        <%= image_tag "Wallpaper_New4" %> <!-- random image -->
        <div class="caption left-align">
          <div class="slider_box-left">
			<h1>Let Pet Med Help</h1>
			<h3>We can hold all your pets info.</h3>
			<a class="waves-effect waves-light btn-large" href="#">Sign Up Today</a>
          </div>
        </div>
      </li>
      <li>
        <%= image_tag "Wallpaper_New3" %> <!-- random image -->
        <div class="caption right-align">
          <div class="slider_box-rightOpp">
      <h2>Reach More Customers</h2>
      <h4>Accounts for Veterinarians</h4>
      <h6>Get all your clients records quickly anytime.</h6>
      <a class="waves-effect waves-light btn-large" href="#">Register Today</a>
          </div>
        </div>
      </li>
    </ul>
  </div>
 <div class="container">
 <div class="row">
 	<div class="col s3 shadow">
 		<%= image_tag "cat-photo1" %>
 	</div>
 	<div class="col s9">
		<h2>Breaking free from paperwork!</h2>
		<p>With Pet Med online medical profile database you can have all your pets records in the palm of your hand. Access all your records no matter where you are at and never be stuck with the run around or hauling stacks of papers to your vets office again. With Pet Med your vet will have access to your pets records so you can get back to enjoying your pet.</p>
 	</div>
 	</div>
  <div class="clear"></div>
 	<div class="row">
		<div class="col s3 blue lighten-5 round">
			<h5>Find a Vet near you!</h5>
      <ul>
        <li>Read Reviews</li>
        <li>Find Specialists</li>
        <li>Look up by city or zip</li>
        <li>Find hopsitals</li>
      </ul>
		</div>
		<div class="col s4 offset-s1 blue lighten-5 round">
			<h5>Pet Med cares about animals</h5>
      <p>We are committed to making sure that pets are cared for no matter what. We volunteer our time at local shelters makeing sure that homeless pets will find thier forever home. With our Veterinarian outreach program we work along side vet offices to make sure our product is the best it can be for our customers.</p> 
		</div>
		<div class="col s3 offset-s1 blue lighten-5 round">
			<h5>Like us on facebook</h5>
      <p>Pet Med is on social media. Come check out what we are shouting about.</p>
		</div>
 	</div>