</div>
  <div class="slider">
    <ul class="slides">
      <li>
        <%= image_tag "Wallpaper_New2" %> <!-- random image -->
        <div class="caption center-align">
          <div class="slider_box-right">
			<h2>Let Pet Med Help</h2>
			<h4>We can hold all your pets info.</h4>
			<a class="waves-effect waves-light btn-large" href="/sessions/new">Sign Up Today</a>
          </div>
        </div>
      </li>
      <li>
        <%= image_tag "Wallpaper_New4" %> <!-- random image -->
        <div class="caption left-align">
          <div class="slider_box-left">
      			<h2>Let Pet Med Help</h2>
      			<h4>We can hold all your pets info.</h4>
      			<a class="waves-effect waves-light btn-large" href="/sessions/new">Sign Up Today</a>
        </div>
      </li>
      <li>
        <%= image_tag "Wallpaper_New3" %> <!-- random image -->
        <div class="caption right-align">
          <div class="slider_box-rightOpp">
      <h3>Reach More Customers</h3>
      <h5>Accounts for Veterinarians</h5>
      <h6>Get all your clients records quickly anytime.</h6>
      <a class="waves-effect waves-light btn-large" href="/sessions/new">Register Today</a>
          </div>
        </div>
      </li>
    </ul>
  </div>
<div class="container">
<div class="row">
  <div class='col s5 home-gif'>
    <%= image_tag("pet_ad3", :class => "petad" ) %>
  </div>
  <div class="col s7">
    <div class="row">
     	<div class="col s12">
    		<h2>Breaking free from paperwork!</h2>
    		<p>With Pet Med online medical profile database you can have all your pets records in the palm of your hand. Access all your records no matter where you are at and never be stuck with the run around or hauling stacks of papers to your vets office again. With Pet Med your vet will have access to your pets records so you can get back to enjoying your pet.</p>
     	</div>
    </div>
      <div class="clear"></div>
    <div class="row">
    		<div class="col s5 blue lighten-5 round">
    			<h5>Find a Vet near you!</h5>
          <div class="row">
            <div class="col s7">
              <ul>
                <li>Read Reviews</li>
                <li>Find Specialists</li>
                <li>Look up by city or zip</li>
                <li>Find hopsitals</li>
              </ul>
            </div>
            <div class="col s5 top">
              <a class="waves-effect waves-light btn-large" href="/pages/finder">Find</a>
            </div>
          </div>
    		</div>
    		<div class="col s6 offset-s1 blue lighten-5 round">
    			<h5>Pet Med Cares</h5>
          <p>We are committed to making sure that pets are cared for no matter what. We volunteer our time at local shelters makeing sure that homeless pets will find thier forever home. With our Veterinarian outreach program we work along side vet offices to make sure our product is the best it can be for our customers.</p> 
    		</div>
    </div>
  </div>
</div>