/*
*= require_tree .
*= require_self
*/
@import "materialize";

.login11 {
	width: 378px !important;
    height: 233px !important;
    overflow: hidden;
}

.modalIn {
	width: 427px !important;
    height: 28% !important;
    padding-top: 31px;
    top: 4% !important;
    overflow: hidden;
}


.logBT {
	margin-top: 9px;

}

#LogBT {
	color: white !important;
} 