/*
*= require_tree .
*= require_self
*/
@import "materialize";


.logo img{
    width:140px;
    z-index:10;
    position:absolute;
    margin-top:3px;
    background:#3f51b5;
    padding:5px; 
    border-radius:5px;
}

.margin-left {
    margin-left: 145px;
}

.home_contaier {
    margin-left: 27em;
}

.littlediv {
    margin-right: -20em !important;
    margin-left: 22em !important;
}

.login11 {
	 width: 378px !important;
}

.modalIn {
	width: 427px !important;
    padding-top: 31px;
    top: 4% !important;
    overflow: hidden;
}


.logBT {
	margin-top: 9px;
    margin-bottom: 10px;

}

#LogBT {
	color: white !important;
} 

.logOut {
    margin-top:-15px;

}

#logOut1 {
    color: white !important;
}

.HomeButton {
/*	margin-left: 200px !important;*/
	margin: 0 auto !important;

}

.divi1 {
  width: 200px;
}

.vet_add_head{
    display: inline-block;
    margin-top: 0px;
}

.vet_address {
    display: inline-block;
    vertical-align: top;
}