/*
*= require_tree .
*= require_self
*/
@import "materialize";


.background {
	z-index:0;
	background-image: url('/assets/Background1.jpg');
	background-repeat: no-repeat;
	background-size: cover;

}