// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.margin-left {
	margin-left: 125px;
}
.short  {
	line-height:35px;
	margin-top: 10px;
	margin-right: 5px;
}
.field{
	margin:0 0 10px 0 !important;
}
.input-field {
	margin-right: 5px !important;
}
.small-btn {
	height:35px !important;
	line-height:35px !important;
	font-size: .8em;
	margin-top: 1px;
}
.top {
	margin-top:15px;
}
.modal { 
	width: 15% !important ;  
}
.slider_box {
	background: white;
	border-radius:15px;
	width: 62%;
	color:grey;
	padding:10px;
	margin: auto
}
.round {
	border-radius: 15px;
}
img {width:100%;}