// Place all the styles related to the Pets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.scroll {
	overflow-y:scroll;
	height:600px;
	border:1px solid silver;
	border-radius:20px 0px 0px 20px;
}