// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.newbtn1 {
    margin-left: 419px;
    margin-top: 52px;
    width: 300px;
    height: 69px !important;
    padding-top: 12px !important;
}

.pt {
	display: block;
}

.ptcontent {
    width: 742px;
    height: 450px;
    background: rgba(255, 255, 255, 0.3);
    margin: 0px;
    padding: 0px;
    margin-left: 199px;
    margin-top: 129px;
    padding: 20px;
}


.newbtn2 {
	margin-left: 37%;
	
}

.modal .modal-content {
    padding: 0 !important;
}

.m

.modal, .open {
    width: 540px !important;
	max-height: 97% !important;
	top: 4% !important; 
}

.form_u {
    padding-top: 0px;
    margin-left: 28px;

}

.h5l {
	margin-left: 82px;
	color: #7d7c7c;
}

.modal-content {
	width: 350px;
	height: 850px;
    margin-left: 67px;
}
.submit1 {
    margin: 6px 34% !important;

}

.row:after {
    display: none !important;
}


