// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.newbtn1 {
	margin-left: 11%;

}

.newbtn2 {
	margin-left: 37%;
	
}

.modal .modal-content {
    padding: 0 !important;
}

.m

.modal, .open {
    width: 540px !important;
	max-height: 97% !important;
	top: 4% !important; 
}

.form_u {
    padding-top: 0px;
    margin-left: 28px;

}

.h5l {
	margin-left: 82px;
	color: #7d7c7c;
}

.modal-content {
	width: 650px;
	height: 850px;
    margin-left: 67px;
}
.submit1 {
    margin: 6px 63% !important;

}

.row:after {
    display: none !important;
}


