// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.profile img{
	border-radius: 50%;
}

.modal-content2 {
	padding:10px;
	overflow:hidden;
}

.center {
	margin-left:16%;
}

.PetCard img {
	width: 86% !important;
}

.CommentsBox {
	width: 100%;
	margin-bottom: 20px;
	border: 1px solid black; 
	overflow-y: scroll;
}

.bold {
	font-weight: 500;
}

.Vet_Icon img {
	 width: 65px !important;
}

/*.push2 {
	margin-top: 35px !important;
    margin-bottom: 23em !important;
	width: 44% !important;
	height: 100px !important;
}
.push3 {
	margin-top: 32em !important;
}*/



.color3 {
	color: #0d47a1;
}

.color6 {
	color: black;
	font-family: GillSans, Calibri, Trebuchet, sans-serif;
	font-weight: thin;
}
.info88 {
	margin-left: 25em !important;
	margin-bottom: 15em;
}

.Move8 {
	margin-bottom: 75px;
}








