<!DOCTYPE html>
<html>
<head>
  <title>PetMed</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="top_menu">
		<div class="container">
			<img src="" alt="Pet Med">
			<div class="sub_menu">
				<ul>
					<li><a href="#">Home</a></li>
					<li><a href="#">About</a></li>
					<li><a href="#">Find Vet</a></li>
					<li><a href="#">Sign Up</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="container">
		<%= yield %>
	</div>
</body>
</html>
